.home {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  // More dramatic zoom
  background-image: url("../assets/images/panorama.jpg");
  background-size: auto 110%;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  transition: background-position 0.3s ease-out, background-size 0.5s ease-out;

  .map-container {
    position: relative;
    z-index: 1;
  }
}
